.prod_scrip {
    display: flex;
    flex-direction: column;
    width: 185px;
    height: 362px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
}

.prod_scrip a {
    text-decoration: none;
}

.prod_scrip>* {
    height: auto;
}

.prod_scrip .prod_icons {
    display: flex;
    justify-content: space-between;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
}

.prod_scrip .prod_icons i:last-of-type {
    font-size: 24px;
}

.prod_scrip .prod_name {
    width: 100%;
    margin: 16px 0;
    font-family: 'Montserrat';
    font-style: normal;
    color: #424242;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;
    height: 34px;
}

.prod_scrip .prod_name:hover {
    text-decoration: underline;
}

.prod_scrip .prod_colors {
    display: inline-flex;
}

.prod_scrip .prod_colors>div {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 2px;
}

.prod_scrip .prod_colors>span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #424242;
}

.prod_scrip .price {
    margin: 14px 0 14px 0;
}

.prod_scrip .prod_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.prod_scrip .old_price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;

}

.prod_scrip .new_price {
    position: relative;
    left: 14px;
    bottom: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    /* розовый */
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.prod_scrip>button {
    border: 1px solid #BDBDBD;
    border-radius: 46px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: inherit;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
}

.prod_scrip>button:active {
    color: #FFFFFF;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
}