.slider_fback {
    width: 100%;
    height: 100%;
    background: linear-gradient(101.38deg, #DDDDBF 3.06%, #ECECD5 85.68%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-bottom: 64px;
}

.slider_back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-image: url('./SliderBack.svg');
    background-size: cover;
    border-radius: 20px;
}

.slider_back .svg_pointer {
    position: relative;
    top: 80px;
    right: 40px;
}

.slider_back .slide_first_p {
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #424242;
}

.slider_back .slide_second_p {
    max-width: 446px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    display: flex;
    align-items: center;
    color: rgba(94, 92, 90, 0.8);
}

.slider_back .slide_link_button {
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 45px;
    gap: 11px;
    border: none;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    border-radius: 49px;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slider_back .svg_text {
    position: relative;
    bottom: 190px;
    right: 70px;
}

.slider_back .slide_buttons {
    position: relative;
    top: 85px;
}

.slider_back .slide_buttons span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 142.2%;
    /* identical to box height, or 23px */
    color: #424242;
    margin-left: 15px;
    margin-right: 15px;
}

.slider_back .slide_buttons button {
    border: none;
    background-color: inherit;
    color: #976464;
}